extend layout 

block content 
  h1.header-text Welcome to our members chat!
    div.buttons-container
      a(href='/sign-up')
        button.buttons Sign-up
      a(href='/sign-in') 
        button().buttons Sign-in