doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.logged-container 
      if user 
        h2.logged-user Logged user: #{user.username}
        a(href='/logout')
          button.logout-button LOG OUT
        div 
          if user.permission == 'not_a_member'
            a(href="/membership")
              button.logout-button Get membership
          else
            h2.logged-user You are a member. 
      else 
        h2.logged-user User not logged.
      if user.admin 
        h2.logged-user You are an admin. 
    block content
    