extends layout 

block content
  h1.header-text Sign-up form
  div.sign-up-container
    form(method='POST')
      div.form-group
        div
          div
            lable(for='username') Username: 
          input#username-up.input(type='text', placeholder='Secret-member11...', required)
        div
          div 
            lable(for='password') Password:
          input#password-up.input(type='text', placeholder='Super_secret_password123...', required)
        button.button(type='submit') Submit
      