extends layout 

block content
  h1.header-text Sign-in form
  div.sign-up-container
    form.form-container(method='POST')
      div.form-group
        div
          div
            lable(for='username_in') Username: 
          input#username_in.input(type='text', placeholder='...', required, name='username_in')
        div
          div 
            lable(for='password_in') Password:
          input#password_in.input(type='text', placeholder='...', required, name='password_in')
        button.button(type='submit') Submit
  div
    if errors.length > 0 
      each error in errors 
        h3= error.msg
      