body {
  padding: 10px;
  font-family: 'Times New Roman', serif;
  box-sizing: border-box;
  background-color: darkslategray;
  color: rgba(255, 255, 255, 0.8);
  margin: 0;
}

a {
  color: #00b7ff;
}

.buttons-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.buttons {
  font-size: 25px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.8);
  padding: 20px 50px;
  border-radius: 25px;
  border: none;
  transition: 0.3s;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
  background-color: rgba(255, 255, 255, 0.3);
  font-family: 'Times New Roman', serif;
  margin-bottom: 20px;
}

.buttons:hover {
  transition: 0.3s;
  scale: 105%;
  cursor: pointer;
}

.buttons:active {
  scale: 100%;
  box-shadow: none;
  transition: 0s;
}

.header-text {
  text-align: center;
}

.form-group {
  padding: 30px;
  display: grid;
  gap: 15px;
  width: 40%;
}

.input {
  padding: 3px 10px;
  width: calc(100% - 30px);
  margin-top: 5px;
  outline: none;
  appearance: none;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.button {
  padding: 5px 25px;
  border-radius: 3px;
  border: none;
  width: fit-content;
  transition: 0.3s;
  color: rgba(255, 255, 255, 0.8);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
  background-color: rgba(255, 255, 255, 0.3);
  font-family: 'Times New Roman', serif;
  font-size: 18px;
}

.button:hover {
  transition: 0.3s;
  scale: 103%;
  cursor: pointer;
}

.button:active {
  scale: 100%;
  box-shadow: none;
  transition: 0s;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logged-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  position: absolute;
  top: 15px;
  right: 15px;
  align-items: center;
}

.logged-user {
  color: rgb(19, 174, 19);
}

.logout-button {
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
  border: none;
  height: max-content;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: bold;
  transition: 0.3s;
  font-family: 'Times New Roman', serif;
  border-radius: 10px;
  width: 100%;
}

.logout-button:hover {
  scale: 105%;
  transition: 0.3s;
  cursor: pointer;
}

.logout-button:active {
  scale: 100%;
  transition: 0s;
  box-shadow: none;
}

.chat-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.chat {
  width: 500px;
  height: 330px;
  border: 1px solid rgba(255, 255, 255, 0.8);
  padding: 10px 20px;
  border-radius: 25px;
}

.messages {
  height: 300px;
  overflow-y: scroll;
}

.messages::-webkit-scrollbar {
  display: none;
}

.message-container {
  display: grid;
  border: 1px solid rgba(255, 255, 255, 0.8);
  margin: 10px 0px;
  border-radius: 15px;
  padding: 5px 10px;
}

.h3 {
  margin: 0px 5px;
  color: rgb(15, 15, 110);
}

.p {
  margin: 5px;
  font-size: 14px;
}

.create-message-container {
  margin: 6px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.send-input {
  padding: 2px 10px;
  width: 60%;
  outline: none;
  appearance: none;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.send-button {
  font-weight: bold;
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 13px;
  transition: 0.3s;
}

.send-button:hover {
  scale: 105%;
  transition: 0.3s;
  cursor: pointer;
}

.send-button:active {
  transition: 0s;
  scale: 100%;
}

.delete-message {
  width: 30%;
  background-color: rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.8);
  border: none;
  border-radius: 5px;
  font-weight: bold;
  padding: 3px;
}

.delete-message:hover {
  cursor: pointer;
}
